<h1>Admin Details</h1>

<table>
  <tr>
    <td>Email</td>
    <td>Name</td>
  </tr>

  <tr>
    <td><%= @admin.email %></td>
    <td><%= @admin.name %></td>
  </tr>
</table>


<%= if current_user == @admin
      link_to "Edit Profile Details", action: :edit
    end %><br>
<%= link_to "See all Admin", action: :index %>