<h2>List of all Library Members</h2>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @library_members.each do |library_member| %>
        <tr>
          <td><%= library_member.email %></td>
          <td><%= library_member.name %></td>
          <td><%= link_to "View Library Member's Details", library_member_path(library_member.id) %></td>
          <td><%= unless current_user == @admin
                    link_to raw('<span class="glyphicon glyphicon-trash"></span> Delete Book'), library_member_path(library_member), method: :delete, data:
                                                                                                      {confirm: 'Are you sure?'}, class: 'btn btn-danger'
                  end %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>