<h1>List of ax library members</h1>

<table>
  <tr>
    <td>Email</td>
    <td>Name</td>
  </tr>

  <tr>
    <td><%= @library_member.email %></td>
    <td><%= @library_member.name %></td>
  </tr>
</table>
