<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
    <div class="navbar-footer">

      <% if logged_in? %>
          Currently logged into LibSys using email <%= current_user.email %> with user type <%= current_user.type %>.
      <% else %>
          Not currently logged into LibSys.  Please <%= link_to 'login', login_url %>.
      <% end %>
    </div>
  </div>
</nav>